[submodule "html"]
	path = html
	url = https://github.com/ouhsnaux/html
[submodule "css"]
	path = css
	url = https://github.com/ouhsnaux/css
[submodule "sass"]
	path = sass
	url = https://github.com/ouhsnaux/sass
[submodule "canvas"]
	path = canvas
	url = https://github.com/ouhsnaux/canvas
